---
import BaseHead from "../components/base-head.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-slate-100">
    <div class="h-screen bg-black">
      <header class="w-full bg-black">
        <div class="px-4">
          <div class="relative h-20 w-[1440px]">
            <div class="left-[168px] top-[24px] h-8 w-8">
              <div class="left-[4px] top-[4px] h-6 w-6 rounded-full border-4 border-slate-100 shadow"></div>
            </div>
            <div class="left-[1176px] top-[24px] h-8 w-24">
              <div class="left-0 top-0 h-8 w-24 rounded-2xl border border-slate-700 bg-slate-800/30 shadow-inner"></div>
              <div class="left-[16px] top-[5px] w-[68px]"><span style="text-slate-300 text-sm font-medium font-['Inter'] leading-snug">Sign up </span><span style="text-purple-500 text-sm font-medium font-['Inter'] leading-snug">-></span></div>
            </div>
            <div class="left-[1088px] top-[29px] w-16 text-right font-['Inter'] text-sm font-medium leading-snug text-slate-300">Sign in</div>
            <div class="left-[481px] top-[29px] inline-flex h-[22px] w-[478px] items-start justify-center gap-10">
              <div class="w-[41px] text-right font-['Inter'] text-sm font-medium leading-snug text-slate-300">About</div>
              <div class="w-[82px] font-['Inter'] text-sm font-medium leading-snug text-slate-300">Integrations</div>
              <div class="w-[47px] font-['Inter'] text-sm font-medium leading-snug text-slate-300">Pricing</div>
              <div class="w-[74px] font-['Inter'] text-sm font-medium leading-snug text-slate-300">Customers</div>
              <div class="w-[74px] font-['Inter'] text-sm font-medium leading-snug text-slate-300">Changelog</div>
            </div>
          </div>
        </div>
      </header>
      <div class="w-full">
        <div class="relative h-[913px] w-[1151px]">
          <div class="left-[126px] top-[213px] inline-flex h-[114px] w-[768px] flex-col items-start justify-center gap-4">
            <div class="w-[768px] font-['Inter'] text-[44px] font-extrabold leading-[44px] text-slate-50">Why trust us?</div>
            <div class="w-[768px] font-['Inter'] text-lg font-normal leading-[27px] text-slate-400">Many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search will uncover many web sites still in their infancy.</div>
          </div>
          <div class="left-[126px] top-[407px] h-[506px] w-[1025px]">
            <div class="left-0 top-0 inline-flex h-[161px] w-[1025px] flex-col items-start justify-start">
              <div class="w-[204px] font-['Inter'] text-base font-medium leading-normal text-purple-500">API Authorization</div>
              <div class="relative h-[72px] w-[1025px]">
                <div class="left-0 top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Discussions</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <img class="left-0 top-0 h-4 w-4" src="https://via.placeholder.com/16x16" />
                  </div>
                </div>
                <div class="left-[362px] top-0 h-[72px] w-[301px]">
                  <div class="left-0 top-0 h-[72px] w-[301px]">
                    <div class="left-[25px] top-0 w-[194px] font-['Inter'] text-base font-medium leading-normal text-slate-50">Team views</div>
                    <div class="left-0 top-[28px] w-[301px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <div class="left-0 top-0 h-4 w-4"></div>
                  </div>
                </div>
                <div class="left-[711px] top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Powerful search</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <div class="left-0 top-0 h-4 w-4">
                      <img class="left-0 top-0 h-3.5 w-3.5" src="https://via.placeholder.com/14x14" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="h-px w-[1024px] bg-slate-800"></div>
            </div>
            <div class="left-0 top-[193px] inline-flex h-[161px] w-[1025px] flex-col items-start justify-start">
              <div class="w-[204px] font-['Inter'] text-base font-medium leading-normal text-purple-500">User Management</div>
              <div class="relative h-[72px] w-[1025px]">
                <div class="left-0 top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Analytics</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <div class="left-0 top-0 h-4 w-4"></div>
                  </div>
                </div>
                <div class="left-[362px] top-0 h-[72px] w-[301px]">
                  <div class="left-0 top-0 h-[72px] w-[301px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Notifications</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[301px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4"></div>
                </div>
                <div class="left-[711px] top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Integrations</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <img class="left-[1px] top-0 h-4 w-3.5" src="https://via.placeholder.com/14x16" />
                  </div>
                </div>
              </div>
              <div class="h-px w-[1024px] bg-slate-800"></div>
            </div>
            <div class="left-0 top-[386px] inline-flex h-[120px] w-[1025px] flex-col items-start justify-center gap-6">
              <div class="w-[204px] font-['Inter'] text-base font-medium leading-normal text-purple-500">Standard Security</div>
              <div class="relative h-[72px] self-stretch">
                <div class="left-0 top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Privacy</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <div class="left-0 top-[1px] h-3.5 w-4"></div>
                  </div>
                </div>
                <div class="left-[362px] top-0 h-[72px] w-[301px]">
                  <div class="left-0 top-0 h-[72px] w-[301px]">
                    <div class="left-[25px] top-0 w-[194px]"><span style="text-slate-50 text-base font-medium font-['Inter'] leading-normal">Data export</span><span style="text-slate-400 text-base font-medium font-['Inter'] leading-normal"> </span></div>
                    <div class="left-0 top-[28px] w-[301px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <div class="left-[1px] top-0 h-4 w-3.5"></div>
                  </div>
                </div>
                <div class="left-[711px] top-0 h-[72px] w-[314px]">
                  <div class="left-0 top-0 h-[72px] w-[314px]">
                    <div class="left-[25px] top-0 w-[194px] font-['Inter'] text-base font-medium leading-normal text-slate-50">Real-time sync</div>
                    <div class="left-0 top-[28px] w-[314px] font-['Inter'] text-sm font-normal leading-snug text-slate-400">Login box must find the right balance for the user convenience, privacy and security.</div>
                  </div>
                  <div class="left-[1px] top-[4px] h-4 w-4">
                    <img class="left-0 top-0 h-4 w-4" src="https://via.placeholder.com/16x16" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
