---
import Layout from "~/layouts/layout.astro";
---

<Layout>
  <section class="relative">
    <!-- Illustration 02 -->
    <div class="pointer-events-none absolute bottom-0 left-1/2 -z-10 -mb-16 -translate-x-1/2 opacity-90 blur-2xl md:block" aria-hidden="true">
      <img src="./images/page-illustration-02.svg" class="max-w-none" width="1440" height="427" alt="Page Illustration 02" />
    </div>

    <!-- Opacity layer -->
    <div class="absolute inset-0 -z-10 bg-slate-900 opacity-60" aria-hidden="true"></div>

    <!-- Radial gradient -->
    <div class="pointer-events-none absolute left-1/2 top-0 -z-10 flex aspect-square w-[800px] -translate-x-1/2 -translate-y-1/2 items-center justify-center" aria-hidden="true">
      <div class="translate-z-0 absolute inset-0 rounded-full bg-purple-500 opacity-30 blur-[120px]"></div>
      <div class="translate-z-0 absolute h-64 w-64 rounded-full bg-purple-400 opacity-70 blur-[80px]"></div>
    </div>

    <!-- Particles animation -->
    <div class="absolute inset-0 -z-10 h-96" aria-hidden="true">
      <canvas data-particle-animation data-particle-quantity="15"></canvas>
    </div>

    <!-- Illustration -->
    <div class="pointer-events-none absolute left-1/2 -z-10 -mt-16 -translate-x-1/2 opacity-90 blur-2xl md:block" aria-hidden="true">
      <img src="./images/page-illustration.svg" class="max-w-none" width="1440" height="427" alt="Page Illustration" />
    </div>

    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="pt-32 md:pt-40">
        <!-- Hero content -->
        <div class="pb-12 text-center md:pb-20">
          <div class="inline-flex bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-3 font-medium text-transparent">Integrations &amp; Add-ons</div>
          <h1 class="h1 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-4 text-transparent">Make Stellar uniquely yours</h1>
          <div class="mx-auto max-w-3xl">
            <p class="text-lg text-slate-400">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
          </div>
        </div>

        <!-- Carousel built with Swiper.js [https://swiperjs.com/] -->
        <!-- * Initialized in src/js/main.js -->
        <!-- * Custom styles in src/css/additional-styles/theme.scss -->
        <div class="stellar-carousel swiper-container group">
          <div class="swiper-wrapper w-fit">
            <!-- Carousel items -->
            <div class="swiper-slide group relative h-auto rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
              <div class="flex h-full flex-col p-5">
                <div class="mb-3 flex items-center space-x-3">
                  <div class="relative">
                    <img src="./images/integrations-01.svg" width="40" height="40" alt="Icon 01" />
                    <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                  </div>
                  <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Retool</a>
                </div>
                <div class="mb-4 grow">
                  <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                </div>
                <div class="flex justify-between">
                  <div class="-ml-0.5 flex -space-x-3">
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-01.jpg" width="24" height="24" alt="Avatar 01" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-02.jpg" width="24" height="24" alt="Avatar 02" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-03.jpg" width="24" height="24" alt="Avatar 03" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-04.jpg" width="24" height="24" alt="Avatar 04" />
                  </div>
                  <button class="flex items-center space-x-2 text-sm font-medium text-slate-300 transition-colors hover:text-white">
                    <span class="sr-only">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path class="fill-slate-500" d="M11.86 15.154 8 13.125l-3.86 2.03c-.726.386-1.591-.236-1.45-1.055l.737-4.299L.303 6.757a1 1 0 0 1 .555-1.706l4.316-.627L7.104.512c.337-.683 1.458-.683 1.794 0l1.93 3.911 4.317.627a1.001 1.001 0 0 1 .555 1.706l-3.124 3.045.737 4.3c.14.822-.726 1.435-1.452 1.053ZM8.468 11.11l2.532 1.331-.483-2.82a1 1 0 0 1 .287-.885l2.049-1.998-2.831-.41a.996.996 0 0 1-.753-.548L8 3.214 6.734 5.78a1 1 0 0 1-.753.547l-2.831.411 2.049 1.998a1 1 0 0 1 .287.885l-.483 2.82 2.532-1.33a.998.998 0 0 1 .932 0Z"></path>
                    </svg>
                    <span>2.3K</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide group relative h-auto rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
              <div class="flex h-full flex-col p-5">
                <div class="mb-3 flex items-center space-x-3">
                  <div class="relative">
                    <img src="./images/integrations-02.svg" width="40" height="40" alt="Icon 02" />
                    <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                  </div>
                  <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Zapier</a>
                </div>
                <div class="mb-4 grow">
                  <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                </div>
                <div class="flex justify-between">
                  <div class="-ml-0.5 flex -space-x-3">
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-05.jpg" width="24" height="24" alt="Avatar 05" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-06.jpg" width="24" height="24" alt="Avatar 06" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-07.jpg" width="24" height="24" alt="Avatar 07" />
                  </div>
                  <button class="flex items-center space-x-2 text-sm font-medium text-slate-300 transition-colors hover:text-white">
                    <span class="sr-only">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path class="fill-slate-500" d="M11.86 15.154 8 13.125l-3.86 2.03c-.726.386-1.591-.236-1.45-1.055l.737-4.299L.303 6.757a1 1 0 0 1 .555-1.706l4.316-.627L7.104.512c.337-.683 1.458-.683 1.794 0l1.93 3.911 4.317.627a1.001 1.001 0 0 1 .555 1.706l-3.124 3.045.737 4.3c.14.822-.726 1.435-1.452 1.053ZM8.468 11.11l2.532 1.331-.483-2.82a1 1 0 0 1 .287-.885l2.049-1.998-2.831-.41a.996.996 0 0 1-.753-.548L8 3.214 6.734 5.78a1 1 0 0 1-.753.547l-2.831.411 2.049 1.998a1 1 0 0 1 .287.885l-.483 2.82 2.532-1.33a.998.998 0 0 1 .932 0Z"></path>
                    </svg>
                    <span>4.5K</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide group relative h-auto rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
              <div class="flex h-full flex-col p-5">
                <div class="mb-3 flex items-center space-x-3">
                  <div class="relative">
                    <img src="./images/integrations-03.svg" width="40" height="40" alt="Icon 03" />
                    <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                  </div>
                  <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Airtable</a>
                </div>
                <div class="mb-4 grow">
                  <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                </div>
                <div class="flex justify-between">
                  <div class="-ml-0.5 flex -space-x-3">
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-08.jpg" width="24" height="24" alt="Avatar 08" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-09.jpg" width="24" height="24" alt="Avatar 09" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-10.jpg" width="24" height="24" alt="Avatar 10" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-11.jpg" width="24" height="24" alt="Avatar 11" />
                  </div>
                  <button class="flex items-center space-x-2 text-sm font-medium text-slate-300 transition-colors hover:text-white">
                    <span class="sr-only">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path class="fill-slate-500" d="M11.86 15.154 8 13.125l-3.86 2.03c-.726.386-1.591-.236-1.45-1.055l.737-4.299L.303 6.757a1 1 0 0 1 .555-1.706l4.316-.627L7.104.512c.337-.683 1.458-.683 1.794 0l1.93 3.911 4.317.627a1.001 1.001 0 0 1 .555 1.706l-3.124 3.045.737 4.3c.14.822-.726 1.435-1.452 1.053ZM8.468 11.11l2.532 1.331-.483-2.82a1 1 0 0 1 .287-.885l2.049-1.998-2.831-.41a.996.996 0 0 1-.753-.548L8 3.214 6.734 5.78a1 1 0 0 1-.753.547l-2.831.411 2.049 1.998a1 1 0 0 1 .287.885l-.483 2.82 2.532-1.33a.998.998 0 0 1 .932 0Z"></path>
                    </svg>
                    <span>4.7K</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide group relative h-auto rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
              <div class="flex h-full flex-col p-5">
                <div class="mb-3 flex items-center space-x-3">
                  <div class="relative">
                    <img src="./images/integrations-04.svg" width="40" height="40" alt="Icon 04" />
                    <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                  </div>
                  <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Jira</a>
                </div>
                <div class="mb-4 grow">
                  <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                </div>
                <div class="flex justify-between">
                  <div class="-ml-0.5 flex -space-x-3">
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-12.jpg" width="24" height="24" alt="Avatar 12" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-13.jpg" width="24" height="24" alt="Avatar 13" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-14.jpg" width="24" height="24" alt="Avatar 14" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-15.jpg" width="24" height="24" alt="Avatar 15" />
                  </div>
                  <button class="flex items-center space-x-2 text-sm font-medium text-slate-300 transition-colors hover:text-white">
                    <span class="sr-only">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path class="fill-slate-500" d="M11.86 15.154 8 13.125l-3.86 2.03c-.726.386-1.591-.236-1.45-1.055l.737-4.299L.303 6.757a1 1 0 0 1 .555-1.706l4.316-.627L7.104.512c.337-.683 1.458-.683 1.794 0l1.93 3.911 4.317.627a1.001 1.001 0 0 1 .555 1.706l-3.124 3.045.737 4.3c.14.822-.726 1.435-1.452 1.053ZM8.468 11.11l2.532 1.331-.483-2.82a1 1 0 0 1 .287-.885l2.049-1.998-2.831-.41a.996.996 0 0 1-.753-.548L8 3.214 6.734 5.78a1 1 0 0 1-.753.547l-2.831.411 2.049 1.998a1 1 0 0 1 .287.885l-.483 2.82 2.532-1.33a.998.998 0 0 1 .932 0Z"></path>
                    </svg>
                    <span>4.4K</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide group relative h-auto rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
              <div class="flex h-full flex-col p-5">
                <div class="mb-3 flex items-center space-x-3">
                  <div class="relative">
                    <img src="./images/integrations-05.svg" width="40" height="40" alt="Icon 05" />
                    <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                  </div>
                  <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">GitLab</a>
                </div>
                <div class="mb-4 grow">
                  <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                </div>
                <div class="flex justify-between">
                  <div class="-ml-0.5 flex -space-x-3">
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-16.jpg" width="24" height="24" alt="Avatar 16" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-17.jpg" width="24" height="24" alt="Avatar 17" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-18.jpg" width="24" height="24" alt="Avatar 18" />
                    <img class="box-content rounded-full border-2 border-slate-800" src="./images/avatar-19.jpg" width="24" height="24" alt="Avatar 19" />
                  </div>
                  <button class="flex items-center space-x-2 text-sm font-medium text-slate-300 transition-colors hover:text-white">
                    <span class="sr-only">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path class="fill-slate-500" d="M11.86 15.154 8 13.125l-3.86 2.03c-.726.386-1.591-.236-1.45-1.055l.737-4.299L.303 6.757a1 1 0 0 1 .555-1.706l4.316-.627L7.104.512c.337-.683 1.458-.683 1.794 0l1.93 3.911 4.317.627a1.001 1.001 0 0 1 .555 1.706l-3.124 3.045.737 4.3c.14.822-.726 1.435-1.452 1.053ZM8.468 11.11l2.532 1.331-.483-2.82a1 1 0 0 1 .287-.885l2.049-1.998-2.831-.41a.996.996 0 0 1-.753-.548L8 3.214 6.734 5.78a1 1 0 0 1-.753.547l-2.831.411 2.049 1.998a1 1 0 0 1 .287.885l-.483 2.82 2.532-1.33a.998.998 0 0 1 .932 0Z"></path>
                    </svg>
                    <span>3.4K</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Arrows -->
        <div class="flex justify-end py-8">
          <button class="carousel-prev group relative z-20 flex h-12 w-12 items-center justify-center">
            <span class="sr-only">Previous</span>
            <svg class="h-4 w-4 fill-slate-500 transition duration-150 ease-in-out group-hover:fill-purple-500" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.7 14.7l1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z"></path>
            </svg>
          </button>
          <button class="carousel-next group relative z-20 flex h-12 w-12 items-center justify-center">
            <span class="sr-only">Next</span>
            <svg class="h-4 w-4 fill-slate-500 transition duration-150 ease-in-out group-hover:fill-purple-500" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.3 14.7l-1.4-1.4L12.2 9H0V7h12.2L7.9 2.7l1.4-1.4L16 8z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Categories -->
  <section>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="pb-12 md:pb-20">
        <!-- Tobpabr -->
        <div class="no-scrollbar flex items-center justify-between space-x-8 overflow-x-scroll border-b py-6 [border-image:linear-gradient(to_right,transparent,theme(colors.slate.800),transparent)1]">
          <!-- Links -->
          <ul class="flex flex-nowrap space-x-8 text-sm font-medium">
            <li>
              <a class="flex items-center space-x-2 whitespace-nowrap text-slate-50 transition-colors hover:text-white" href="#engineering">
                <svg class="fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <path d="m7.7 7.3-5-5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L5.6 8l-4.3 4.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l5-5c.4-.4.4-1 0-1.4ZM8 12h7v2H8z"></path>
                </svg>
                <span>Engineering</span>
              </a>
            </li>
            <li>
              <a class="flex items-center space-x-2 whitespace-nowrap text-slate-50 transition-colors hover:text-white" href="#nocode">
                <svg class="fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <path d="M10 15c-.4 0-.8-.3-.9-.7L5.8 4.6 3.9 8.4c-.2.4-.5.6-.9.6H0V7h2.4l2.7-5.4c.2-.4.6-.6 1-.6s.7.3.9.7l3.2 9.7 1.9-3.8c.2-.4.5-.6.9-.6h3v2h-2.4l-2.7 5.4c-.2.4-.5.6-.9.6Z"></path>
                </svg>
                <span>No-code</span>
              </a>
            </li>
            <li>
              <a class="flex items-center space-x-2 whitespace-nowrap text-slate-50 transition-colors hover:text-white" href="#collaboration">
                <svg class="fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <path d="M7.3 9.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0ZM7.3 15.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0ZM.3 10.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0Z"></path>
                </svg>
                <span>Collaboration</span>
              </a>
            </li>
            <li>
              <a class="flex items-center space-x-2 whitespace-nowrap text-slate-50 transition-colors hover:text-white" href="#productivity">
                <svg class="fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <path d="M11.505 14.135a1 1 0 0 1 .175-1.403A5.967 5.967 0 0 0 14 8c0-3.309-2.691-6-6-6S2 4.691 2 8c0 1.858.846 3.583 2.32 4.731a1 1 0 0 1-1.228 1.578A7.951 7.951 0 0 1 0 8c0-4.411 3.589-8 8-8s8 3.589 8 8a7.955 7.955 0 0 1-3.092 6.31 1.001 1.001 0 0 1-1.403-.175Z"></path>
                  <path d="M9.045 10.973a1 1 0 0 1 .175-1.404A1.98 1.98 0 0 0 10 8c0-1.103-.897-2-2-2s-2 .897-2 2c0 .611.284 1.184.78 1.569a1 1 0 1 1-1.228 1.578A3.967 3.967 0 0 1 4 8c0-2.206 1.794-4 4-4s4 1.794 4 4c0 1.232-.565 2.38-1.552 3.147a.999.999 0 0 1-1.403-.174Z"></path>
                </svg>
                <span>Productivity</span>
              </a>
            </li>
          </ul>
          <div>
            <form class="relative flex items-center">
              <input class="form-input rounded-none bg-transparent pl-10 transition-[width] focus:border-transparent focus:border-b-slate-700 lg:w-9 lg:focus:w-[200px]" type="text" id="search" aria-label="Search…" placeholder="Search…" autocomplete="off" />
              <div class="pointer-events-none absolute inset-0 flex w-9 items-center justify-center">
                <svg class="absolute mx-3 fill-slate-50" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <path d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7ZM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5Zm8.707 12.293a.999.999 0 1 1-1.414 1.414L11.9 13.314a8.019 8.019 0 0 0 1.414-1.414l2.393 2.393Z"></path>
                </svg>
              </div>
            </form>
          </div>
        </div>

        <!-- Cards -->
        <div>
          <!-- Section #1 -->
          <div class="mt-12 md:mt-16">
            <h3 id="engineering" class="inline-flex scroll-mt-8 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-8 text-2xl font-bold text-transparent">Engineering</h3>
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <!-- Card #1 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-06.svg" width="40" height="40" alt="Icon 06" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Vercel</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #2 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-07.svg" width="40" height="40" alt="Icon 07" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Sentry</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #3 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-04.svg" width="40" height="40" alt="Icon 04" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Jira</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #4 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-08.svg" width="40" height="40" alt="Icon 08" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">GitHub</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #5 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-05.svg" width="40" height="40" alt="Icon 05" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">GitLab</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #6 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-01.svg" width="40" height="40" alt="Icon 01" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Retool</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Section #2 -->
          <div class="mt-12 md:mt-16">
            <h3 id="nocode" class="inline-flex scroll-mt-8 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-8 text-2xl font-bold text-transparent">No-code</h3>
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <!-- Card #1 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-02.svg" width="40" height="40" alt="Icon 02" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Zapier</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #2 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-03.svg" width="40" height="40" alt="Icon 03" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Airtable</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #3 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-09.svg" width="40" height="40" alt="Icon 09" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Framer</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #4 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-10.svg" width="40" height="40" alt="Icon 10" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Jotform</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #5 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-11.svg" width="40" height="40" alt="Icon 11" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Webflow</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #6 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-12.svg" width="40" height="40" alt="Icon 12" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Coda</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Section #3 -->
          <div class="mt-12 md:mt-16">
            <h3 id="collaboration" class="inline-flex scroll-mt-8 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-8 text-2xl font-bold text-transparent">Collaboration</h3>
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <!-- Card #1 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-13.svg" width="40" height="40" alt="Icon 13" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Asana</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #2 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-14.svg" width="40" height="40" alt="Icon 14" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Myngo</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #3 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-15.svg" width="40" height="40" alt="Icon 15" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Bonsai</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #4 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-16.svg" width="40" height="40" alt="Icon 16" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Decipad</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #5 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-17.svg" width="40" height="40" alt="Icon 17" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Miro</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #6 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-18.svg" width="40" height="40" alt="Icon 18" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Popform</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Section #4 -->
          <div class="mt-12 md:mt-16">
            <h3 id="productivity" class="inline-flex scroll-mt-8 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-8 text-2xl font-bold text-transparent">Productivity</h3>
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <!-- Card #1 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-19.svg" width="40" height="40" alt="Icon 19" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Linear</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #2 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-20.svg" width="40" height="40" alt="Icon 20" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Microsoft</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #3 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-21.svg" width="40" height="40" alt="Icon 21" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Google Drive</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #4 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-22.svg" width="40" height="40" alt="Icon 22" />
                      <img class="absolute -right-1 top-0" src="./images/star.svg" width="16" height="16" alt="Star" aria-hidden="true" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">InVision</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #5 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-23.svg" width="40" height="40" alt="Icon 23" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">WeTransfer</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
              <!-- Card #6 -->
              <div class="group relative rounded-3xl border border-slate-800 bg-gradient-to-tr from-slate-800 to-slate-800/25 transition-colors hover:border-slate-700/60">
                <div class="flex h-full flex-col p-5">
                  <div class="mb-3 flex items-center space-x-3">
                    <div class="relative">
                      <img src="./images/integrations-24.svg" width="40" height="40" alt="Icon 24" />
                    </div>
                    <a class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text font-semibold text-transparent group-hover:before:absolute group-hover:before:inset-0" href="integrations-single.html">Hotjar</a>
                  </div>
                  <div class="grow">
                    <div class="text-sm text-slate-400">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="relative overflow-hidden rounded-[3rem] px-8 py-12 md:py-20">
        <!-- Radial gradient -->
        <div class="pointer-events-none absolute left-1/2 top-0 -z-10 flex aspect-square w-1/3 -translate-x-1/2 -translate-y-1/2 items-center justify-center" aria-hidden="true">
          <div class="translate-z-0 absolute inset-0 rounded-full bg-purple-500 opacity-70 blur-[120px]"></div>
          <div class="translate-z-0 absolute h-1/4 w-1/4 rounded-full bg-purple-400 blur-[40px]"></div>
        </div>
        <!-- Blurred shape -->
        <div class="pointer-events-none absolute bottom-0 left-0 -z-10 translate-y-1/2 opacity-50 blur-2xl" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
            <defs>
              <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                <stop offset="0%" stop-color="#A855F7"></stop>
                <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#bs5-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)"></path>
          </svg>
        </div>
        <!-- Content -->
        <div class="mx-auto max-w-3xl text-center">
          <div>
            <div class="inline-flex bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-3 font-medium text-transparent">The security first platform</div>
          </div>
          <h2 class="h2 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-4 text-transparent">Build your own integration</h2>
          <p class="mb-8 text-lg text-slate-400">All the lorem ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
          <div>
            <a class="btn group bg-gradient-to-r from-white/80 via-white to-white/80 text-slate-900 transition duration-150 ease-in-out hover:bg-white" href="#0">
              Start Building <span class="ml-1 tracking-normal text-purple-500 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5">-&gt;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
