<div class="flex h-16 items-center justify-between md:h-20">
  <!-- Site branding -->
  <div class="flex flex-1 items-center">
    <svg class="h-12 w-12 fill-slate-400" viewBox="17.6278 25.1024 28.9512 28.9512" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M 32.404 39.327 L 30.737 39.327 L 30.737 35.344 L 32.404 35.344 C 32.819 35.344 33.162 35.429 33.456 35.587 C 33.752 35.761 33.972 35.98 34.144 36.275 C 34.314 36.569 34.388 36.912 34.388 37.33 C 34.388 37.745 34.302 38.088 34.132 38.394 C 33.96 38.69 33.74 38.925 33.444 39.082 C 33.15 39.242 32.808 39.327 32.404 39.327 Z M 28.641 28.92 C 29.044 28.92 29.375 28.589 29.375 28.186 C 29.375 27.779 29.044 27.448 28.641 27.448 C 28.235 27.448 27.904 27.779 27.904 28.186 C 27.904 28.589 28.235 28.92 28.641 28.92 Z M 31.718 27.018 C 31.311 27.018 30.98 27.351 30.98 27.755 C 30.98 28.159 31.311 28.491 31.718 28.491 C 36.999 28.491 41.377 32.204 42.272 37.292 L 35.467 33.259 C 36.008 33.651 36.448 34.155 36.792 34.742 C 37.221 35.504 37.441 36.36 37.441 37.317 C 37.441 38.274 37.221 39.144 36.804 39.904 C 36.376 40.676 35.761 41.289 35.001 41.718 C 34.242 42.147 33.385 42.37 32.428 42.37 L 30.737 42.37 L 30.737 45.309 C 30.737 45.714 30.588 46.081 30.32 46.365 C 30.036 46.659 29.644 46.831 29.217 46.831 C 29.067 46.831 28.921 46.805 28.775 46.768 L 33.934 49.71 C 33.224 49.859 32.476 49.945 31.718 49.945 C 25.808 49.945 21.002 45.139 21.002 39.229 C 21.002 36.485 22.044 33.872 23.92 31.874 C 24.2 31.58 24.188 31.114 23.894 30.831 C 23.602 30.55 23.136 30.562 22.852 30.855 C 20.694 33.124 19.518 36.09 19.518 39.218 C 19.518 45.948 24.985 51.415 31.718 51.415 C 38.447 51.415 43.915 45.948 43.915 39.218 C 43.915 32.106 38.423 27.018 31.718 27.018 Z M 25.796 30.145 C 26.202 30.145 26.532 29.815 26.532 29.41 C 26.532 29.003 26.202 28.675 25.796 28.675 C 25.39 28.675 25.06 29.003 25.06 29.41 C 25.06 29.815 25.39 30.145 25.796 30.145 Z"
        transform="matrix(1.1866719722747803, 0, 0, 1.1866719722747803, -5.533614158630371, -6.95907020568848)"></path>
    </svg>
  </div>

  <nav class="hidden md:flex md:grow">
    <ul class="flex grow flex-wrap items-center justify-center gap-6 text-sm text-slate-400">
      <li>
        <a class="transition duration-500 ease-in-out hover:text-white" href="about.html">About</a>
      </li>
      <li>
        <a class="transition duration-500 ease-in-out hover:text-white" href="integrations.html">Integrations</a>
      </li>
      <li>
        <a class="transition duration-500 ease-in-out hover:text-white" href="pricing.html">Pricing</a>
      </li>
      <li>
        <a class="transition duration-500 ease-in-out hover:text-white" href="customers.html">Customers</a>
      </li>
      <li>
        <a class="transition duration-500 ease-in-out hover:text-white" href="changelog.html">Changelog</a>
      </li>
    </ul>
  </nav>
</div>
