---
import Footer from "~/components/docs/footer.astro";
import Header from "~/components/docs/header.astro";
import Logo from "~/components/docs/logo.astro";
import Navigation from "~/components/docs/navigation.astro";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body class="flex min-h-full bg-white antialiased dark:bg-zinc-900">
    <div class="w-full">
      <div class="h-full lg:ml-72 xl:ml-80">
        <div class="contents lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex">
          <div class="contents lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-r lg:border-zinc-900/10 lg:px-6 lg:pb-8 lg:pt-4 lg:dark:border-white/10 xl:w-80">
            <div class="hidden lg:flex">
              <a href="/" aria-label="Home">
                <Logo />
              </a>
            </div>
            <Header />
            <Navigation className="hidden lg:mt-10 lg:block" />
          </div>
        </div>
        <div class="relative flex h-full flex-col px-4 pt-14 sm:px-6 lg:px-8">
          <main class="prose flex-auto pt-8 dark:prose-invert">
            <slot />
          </main>
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
