---
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/base.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>Polyrepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="/src/scripts/main.js"></script>
  </head>

  <body class="bg-slate-900 font-sans tracking-tight text-slate-100 antialiased">
    <div class="flex min-h-screen flex-col overflow-hidden supports-[overflow:clip]:overflow-clip">
      <Header />
      <main class="grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
